.dropdown-paragraph{
    margin-top:15px;

}
.dropdown-search{
    margin-top:15px;
   color:white;
   background-color: red;
   /* border-radius: 50%; */
   border: none;
   padding:8px;
   margin-left: 15px;
   cursor: pointer;
}