
.containerr {
  display: grid;
  align-items: center;
  justify-items: center;
  background: white;
  border-radius: 10px;
  margin-bottom: 20px;
  margin-top: 20px;

}

.images{
  width:50%;
  height:50%;
  object-fit: cover;
  margin-top: 10px;
}


.product {
  /* background-image: url("https://www.cstatic-images.com/car-pictures/xl/USC10TSC011A0101.png"); */
  pointer-events: none;
  -webkit-background-size: contain;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 50%;
  -webkit-transition: opacity 0.2s;
  -o-transition: opacity 0.2s;
  transition: opacity 0.2s;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  opacity: 1;
  height: 300px;
  width: 500px;
  text-align: center;
  margin-top: 50px;

}

.para{
  color:black;
}

.icons{
    color:gold;
    margin-top: 20px;
}
