
.card-container{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 50px;
    width:500px;
    overflow: hidden;
    box-shadow: 0px 0px 15px -5px;
    transition: 0.5s;
    animation:ease-in-out;
    border-radius: 20px;
}


.image-container img{
    display: block;
    overflow: hidden;
    object-fit: cover;
    height: 200px;
    margin: auto;
}

.card-container:hover{
    transform: scale(1.1);
    box-shadow: 0px 0px 15px 0px;

}

.card-content{
    margin: 1rem;
    margin-top: 0.5rem;
}

h3{
    margin-top: 10px;
    padding: 0px;
    color: #00008B;

}

.card-title{
    margin-bottom: 0.5rem;

}

.buttonn{
    display: flex;
    justify-content: center;

}

.buttonn button{
    padding: 0.5rem;
    background-color: white;
    border: none;
    transition: 0.2s;
    margin-bottom: 0.5rem;
    border-radius: 3px;
}

.buttonn button:hover{
    background: rgba(27, 156, 252, 0.1);
    transform: scale(1.5);
}


.viewMore{
    color: gold;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
}